<div class="modal-dialog modal-lg modal-dialog-center" role="document">
  <%= form_with(model: @attendance, url: attendances_approve_affiliation_user_path, local: true, method: :patch) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% @affiliation_users.each do |user| %>
          <h1>【<%= user.name %>からの所属長承認申請】</h1>
          <table class="table table-bordered table-condensed" id="table-attendances">
            <tr>
              <th>月</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr>
            
            <% @affiliation_attendances.each do |attendance| %>
              <% if user.id == attendance.user_id %>
                <%= fields_for "attendances[]", attendance do |af| %>
                  <tr>
                    <td><%= l(attendance.worked_on, format: :month) %></td>
                    <td><%= af.select :affiliation_status, ['', '申請中', '承認', '否認'], {include_blank: false, selected: '申請中' }, class: 'sample' %></td>
                    <td><%= af.check_box(:check, { :checked => false }, "1", "0") %></td>
                    <td><%= link_to "確認", user_path(id: user.id, date: attendance.worked_on.beginning_of_month), class: "btn btn-lg btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            
          </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <td><%= f.submit "変更を送信する", class: "btn btn-block btn-primary" %></td>
      </div>
    </div>
  <% end %>
</div>