<div class="modal-dialog modal-lg modal-dialog-center" role="document">
  <!-- モーダルの内容 -->
  <%= form_with(model: @users, url: attendances_approve_changed_request_user_path, local: true, method: :patch) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% @change_users.each do |change_user| %>
          <p class="center">【<%= change_user.name%>からの勤怠変更申請】</p>
          <table class="table table-bordered table-condensed" id="table-attendances">
            <tr>
              <th rowspan="3">日付</th>
              <th rowspan="3">曜日</th>
              <th colspan="4">変更前</th>
              <th colspan="4">変更後</th>
              <th rowspan="3">備考</th>
              <th rowspan="3">指示者確認㊞</th>
              <th rowspan="3">変更</th>
              <th rowspan="3">勤怠を確認する</th>
            </tr>
            <tr>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
            </tr>
            <tr>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
            </tr>
            <% @change_attendances.each do |change_attendance| %>
              <% if change_user.id == change_attendance.user_id %>
                <%= fields_for "attendances[]", change_attendance do |af| %>
                  <tr>
                    <td><%= l(change_attendance.worked_on, format: :short) %></td>
                    <td class="days_color-<%= "#{change_attendance.worked_on.wday}" %>">
                      <%= $days_of_the_week[change_attendance.worked_on.wday] %>
                    </td>
                      <% if change_attendance.first_start_time.present? %>
                        <td><%= l(change_attendance.first_start_time.floor_to(15.minutes), format: :hour) %></td>
                        <td><%= l(change_attendance.first_start_time.floor_to(15.minutes), format: :minute) %></td>
                      <% else %>
                        <td></td>
                        <td></td>
                      <% end %>
                    <% if change_attendance.first_end_time.present? %>
                        <td><%= l(change_attendance.first_end_time.floor_to(15.minutes), format: :hour) %></td>
                        <td><%= l(change_attendance.first_end_time.floor_to(15.minutes), format: :minute) %></td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                    <% if change_attendance.second_start_time.present? %>
                        <td><%= l(change_attendance.second_start_time.floor_to(15.minutes), format: :hour) %></td>
                        <td><%= l(change_attendance.second_start_time.floor_to(15.minutes), format: :minute) %></td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                    <% if change_attendance.second_end_time.present? %>
                        <td><%= l(change_attendance.second_end_time.floor_to(15.minutes), format: :hour) %></td>
                        <td><%= l(change_attendance.second_end_time.floor_to(15.minutes), format: :minute) %></td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                    <td><%= change_attendance.note %></td>
                    <td><%= af.select :status, ['なし', '申請中', '承認', '否認'], {include_blank: false, selected: '申請中' }, class: 'sample' %></td>
                    <td><%= af.check_box(:check, { :checked => false }, "1", "0") %></td>
                    <td><%= link_to "確認", user_path(id: change_user.id, date: change_attendance.worked_on.beginning_of_month), class: "btn btn-lg btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        <% end %>
        </div>
      <div class="modal-footer">
        <td><%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %></td>
      </div>
    </div>
  <% end %>
</div>
