<% provide(:title, 'All Users') %>
<% provide(:class_text, 'edit-details') %>

<div class="container">
  <h1>ユーザー一覧</h1>
  <div>
    <%= form_tag users_path, method: :post, multipart: true do |f| %>
      <div class="search_item">
        <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
        <%= file_field_tag 'users_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
        <%= button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">CSVインポート</button>
      </div>
    <% end %>
  </div>
  
  <script type="text/javascript">
    function file_selected(file_field){
      var filename = $(file_field)[0].files[0].name;
      $("#filename").val(filename);
    }
  </script>
  
  <div class="row">
    <%= will_paginate %>
    <ul class="users-list">
      <% @users.each do |user| %>
        <li><%= user.name %>
        <li>|
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary" %>
        </li>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  <button data-toggle="collapse" data-target="#collapse<%= user.id %>" class="index-edit_button btn btn-primary btn-lg">編集</button>
                </div>
              </div>
              
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-md-6 col-md-offset-3">
                    <%= render partial: 'form_details', locals: { user: user } %>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </li>
      <% end %>
    </ul>
  <%= will_paginate %>
  </div>
</div>

