<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<%= form_with url: users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
  
  
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    
  </table>
  <%= will_paginate %>

