<% provide(:title, @user.name) %>

<div class="container">
  <div>
    <table class="table table-bordered table-condensed user-table">
      <tr>
        <td><%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>&emsp;
            <%= l(@first_day, format: :middle) %>時間管理表&emsp;
            <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </td>
        <td>指定勤務開始時間 <%= format_basic_info(@user.designated_work_start_time) %>
          <br>指定勤務終了時間 <%= format_basic_info(@user.designated_work_end_time)%>
        </td>
        <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %></td>
        <td>初日 <%= l(@first_day, format: :short) %></td>
      </tr>
  
      <tr>
        <td>所属 <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
        <td>氏名 <%= @user.name %></td>
        <td>コード</td>
        <td><%= @current_user.id %></td>
        <td>出勤日数 <%= @worked_sum %>日</td>
        <td>締め <%= l(@last_day, format: :short) %></td>
      </tr>
    </table>
  </div>
  <div>【所属長承認申請のお知らせ】</div>
  <div>【勤怠変更申請のお知らせ】</div>
  <div>【残業申請のお知らせ】</div>
  <div class="btn-users-show">
    <%= link_to "勤怠の編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
  </div>

  <td><%= link_to "勤怠修正ログ（承認済み）", attendances_fix_log_user_path(@user), class: "btn btn-primary" %></td>

  <div>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th rowspan="3">残業申請</th>
          <th rowspan="3">日付</th>
          <th rowspan="3">曜日</th>
          <th colspan="8">【実績】</th>
          <th colspan="5">所定外勤務</th>
        </tr>
        <tr>
          <th colspan="3">出社</th>
          <th colspan="3">退社</th>
          <th rowspan="2">在社時間</th>
          <th rowspan="2">備考</th>
          <th colspan="2">終了予定時間</th>
          <th rowspan="2">時間外時間</th>
          <th rowspan="2">業務処置内容</th>
          <th rowspan="2">指示者確認㊞</th>
        </tr>
        <tr>
          <th>時</th>
          <th>分</th>
          <th></th>
          <th>時</th>
          <th>分</th>
          <th></th>  
          <th>時</th>
          <th>分</th>
        </tr>
      </thead>
  
      <tbody>
        <% @attendances.each do |day| %>
          <tr>
            <td><%= link_to "残業申請", '#', class: "btn btn-primary" %></td>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td class="days_color-<%= "#{day.worked_on.wday}" %>">
              <%= $days_of_the_week[day.worked_on.wday] %>
            </td>
            <% if day.started_at.present? %>
              <td><%= l(day.started_at.floor_to(15.minutes), format: :hour) %></td>
              <td><%= l(day.started_at.floor_to(15.minutes), format: :minute) %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
              <% end %>
            </td>
            <% if day.finished_at.present? %>
              <td><%= l(day.finished_at.floor_to(15.minutes), format: :hour) %></td>
              <td><%= l(day.finished_at.floor_to(15.minutes), format: :minute) %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td></td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes), day.next_day_flag) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>
            </td>
            <td><%= day.note %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
  
      <tfoot>
        <!--rowspan:縦結合、colspan：横結合-->
        <tr>
          <td colspan="3">累計日数</td>
          <td colspan="6">総合勤務時間</td>
          <td colspan="2">累計在社時間</td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2">所属長承認: 申請中</br>
            <select class="custom-select custom-select-sm">
              <option selected></option>
              <option value="1">上長1</option>
              <option value="2">上長2</option>
            </select></br>
            <%= link_to "申請", '#', class: "btn btn-primary" %>
          </td>
        </tr>
        <tr>
          <td colspan="3"><%= @attendances.count %></td>
          <td colspan="6"><%= @worked_sum*7.5 %></td>
          <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
        </tr>
      </tfoot>    
    </table>
  </div>
</div>