<div class="modal-dialog modal-lg modal-dialog-center" role="document">
  <%= form_with(model: @attendance, url: attendances_apply_overtime_user_path, local: true, method: :patch) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h1>【残業申請】</h1>
        <table class="table table-bordered table-condensed">
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>終了予定時間</th>
            <th>翌日</th>
            <th>業務処理内容</th>
            <th>指示者確認㊞</th>
          </tr>
          <tr>
            <td><%= l(@attendance.worked_on, format: :short) %></td>
            <td class="days_color-<%= "#{@attendance.worked_on.wday}" %>">
              <%= $days_of_the_week[@attendance.worked_on.wday] %>
            </td>
            
            <td><%= f.time_field :overtime_finished_at, class: "form-control" %></td>
            <td><%= f.check_box :overtime_next_day_flag %></td>
            <td><%= f.text_field :overtime_content, class: "form-control" %></td>
            <td>
              <% if @user.name == "上長1" %>
                <%= f.select :overtime_instruction,['上長2'],{include_blank: ''}, class: 'sample' %>
              <% elsif @user.name == "上長2" %>
                <%= f.select :overtime_instruction,['上長1'],{include_blank: ''}, class: 'sample' %>
              <% else %>
                <%= f.select :overtime_instruction,['上長1', '上長2'],{include_blank: ''}, class: 'sample' %>
              <% end %>
            </td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <td><%= f.submit "変更を送信する", class: "btn btn-block btn-primary" %></td>
      </div>
    </div>
  <% end %>
</div>