<% provide(:title, "log") %>

<div class="container">
  <h1>勤怠ログ</h1>
  <div class="row">
    <table class="table table-bordered table-condensed fix-log">
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
      
      <% @attendances.each do |attendance| %>
        <% if attendance.second_start_time.present? || attendance.second_end_time.present? %>
          <tr>
            <td><%= attendance.worked_on %></td>
            <td></td>
            <td><%= attendance.first_start_time %></td>
            <td><%= attendance.first_end_time %></td>
            <td><%= attendance.second_start_time %></td>
            <td><%= attendance.second_end_time %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

